html {
  font-family: Courier;
  font-size: 10px;
  color: white;
  background-color: black;
}

html a {
  color: white;
}

header h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  margin: 40px;
}

header {
  height: 75px;
  border-bottom: 1px solid white;
}

@media only screen and (min-width : 250px) and (max-width : 480px) {
  header {
    text-align: center;
    height: 125px;
  }

  header h1 {
    font-size: 4.5rem;
  }

  .sample-block img {
    width: 95%;
  }

  .sample-block p {
    font-size: 5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

#intro-text {
  padding: 2rem;
  background-color: white;
  color: black;
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.typewriter p {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 4s steps(50, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.samples {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 4rem;
}

.sample-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  margin: 1rem 2rem 0px 2rem;
}

.sample-block img {
  width: 255px;
  height: 200px;
  overflow: hidden;
  border: 1px solid white;
}

.sample-block p {
  color: grey;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
  max-width: 250px;
}

.links {
  margin-left: 10rem;
  font-family: Arial;
  font-size: 2rem;
}

a:link {
  color: white;
}

a:visited {
  color: gray;
}

.descripttxt {
  font-size: 3rem;
}
